# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables
.env
.env.*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store